NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_STORE_NAME=Ganjar Printing
NEXT_PUBLIC_WHATSAPP=6281240322071
NEXT_PUBLIC_MAPS_URL=https://www.google.com/maps/search/?api=1&query=Jl.%20Balai%20Pustaka%20Baru%20No.46A%20Rawamangun%20Jakarta%20Timur
